<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Itransformsvc" />
        <binding name="BasicHttpBinding_Iverify" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:21356/transformsvc.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_Itransformsvc" contract="ServiceReference1.Itransformsvc"
        name="BasicHttpBinding_Itransformsvc" />
      <endpoint address="http://localhost:21356/verify.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_Iverify" contract="ServiceReference2.Iverify"
        name="BasicHttpBinding_Iverify" />
    </client>
  </system.serviceModel>
</configuration>